extends ../layouts/layout

append styles
  link(rel='stylesheet', href='/styles/board.css' )

append scripts
  script(src="/js/lib/jquery-1.7.1.min.js")
  script(src="/js/lib/underscore.js")
  script(src="/js/lib/knockout-2.0.0.js")
  script(src='/js/tetris_game.js')
  script(src="/js/boardVM.js")
  script

    var TetrisGame = require('./tetris_game');
    var game = new TetrisGame();
    var BoardVM = new Board({player:game.players[0]});

    $(function(){
      ko.applyBindings(BoardVM);
    })

    function randomBlock() {
      var rows = BoardVM.rows();
      var random_row = Math.floor(Math.random()*(BoardVM.height()));
      var random_col = Math.floor(Math.random()*(BoardVM.width()));
      var block = rows[random_row][random_col];
      var status = block.on();

      block.random_color();
      block.on(!status);

      setTimeout(function(){
        if (started) randomBlock();
      }, 1)
      
    }


block content
  button.button(data-bind="click:start") START
  button.button(data-bind="click:down") DOWN
  button.button(data-bind="click:left") LEFT
  button.button(data-bind="click:right") RIGHT
  #board(data-bind="foreach:rows")
    // ko foreach:$data
    .block(data-bind="css:{on:on, red:(color() == 'red'), blue:(color() == 'blue'), green:(color() == 'green'), purple:(color() == 'purple'), orange:(color() == 'orange')}")
    // /ko

