@import 'mixins'
@import 'animations'
@import 'library'

// block colors
red = #811
green = #181
blue = #118
purple = #818
orange = #f28d28
yellow = #f1f218
black = #333

#overlay
  position absolute
  z-index 999
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,0.7)
  text-align center
  padding 50px
  button
    font-size 35px

    span
      display block
      font-size 12px

#score
  position absolute
  top 0
  left 0
  width 200px
  font-size 16px
  padding 10px
  margin 20px
  text-align center
  background rgba(255,255,255,0.5)
  .current
    font-size 30px
  .high
    font-size 14px
    font-style italic


#board
  border 1px solid #999
  width 339px
  height 618px
  border-radius 3px
  margin 30px auto
  position relative
  box-shadow 0 0 25px -10px #000
  background rgba(255,255,255,0.5)

  #game_over
    position absolute
    top 35%
    left 10%
    right 10%
    background rgba(0,0,0,0.1)
    color #eee
    font-size 24px
    text-align center
    border-radius 3px
    padding 20px 0

  #next_block
    position absolute
    top 0
    left 100%
    width 125px
    margin-left 20px
    div
      inline-block()

  .block
    float left      

  #next_block div, .block
    width 26px
    height 26px
    margin 1px

  #next_block div, .block.on
    emboss(3px)
    border 1px solid #555
    border-radius 3px
    background black
    //animation pop 100ms ease-out
    -webkit-transform-style preserve-3d
    &.blank
      background none
      border none
      &:after
        display none
    &.red
      background red
    &.green
      background green
    &.blue
      background blue
    &.purple
      background purple
    &.orange
      background orange
    &.yellow
      background yellow
    &.black
      background black
