.pop
  animation pop 250ms ease-out
  -webkit-transform-style preserve-3d

.all_transitions
  transition(all .2s ease-in-out)
  -webkit-transform-style preserve-3d

button, .button
  button()

.clear
  clearfix()