@-moz-keyframes pop {
  0% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    -moz-transform: scale3d(0.7, 0.7, 1);
    -ms-transform: scale3d(0.7, 0.7, 1);
    -o-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }

  45% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }

  70% {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    -moz-transform: scale3d(0.7, 0.7, 1);
    -ms-transform: scale3d(0.7, 0.7, 1);
    -o-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }

  45% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }

  70% {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes pop {
  0% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    -moz-transform: scale3d(0.7, 0.7, 1);
    -ms-transform: scale3d(0.7, 0.7, 1);
    -o-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }

  45% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }

  70% {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-ms-keyframes pop {
  0% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    -moz-transform: scale3d(0.7, 0.7, 1);
    -ms-transform: scale3d(0.7, 0.7, 1);
    -o-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }

  45% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }

  70% {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    -moz-transform: scale3d(0.7, 0.7, 1);
    -ms-transform: scale3d(0.7, 0.7, 1);
    -o-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }

  45% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }

  70% {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes puff {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  15% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale3d(1.25, 1.25, 0);
    -moz-transform: scale3d(1.25, 1.25, 0);
    -ms-transform: scale3d(1.25, 1.25, 0);
    -o-transform: scale3d(1.25, 1.25, 0);
    transform: scale3d(1.25, 1.25, 0);
    opacity: 0;
  }
}
@-webkit-keyframes puff {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  15% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale3d(1.25, 1.25, 0);
    -moz-transform: scale3d(1.25, 1.25, 0);
    -ms-transform: scale3d(1.25, 1.25, 0);
    -o-transform: scale3d(1.25, 1.25, 0);
    transform: scale3d(1.25, 1.25, 0);
    opacity: 0;
  }
}
@-o-keyframes puff {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  15% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale3d(1.25, 1.25, 0);
    -moz-transform: scale3d(1.25, 1.25, 0);
    -ms-transform: scale3d(1.25, 1.25, 0);
    -o-transform: scale3d(1.25, 1.25, 0);
    transform: scale3d(1.25, 1.25, 0);
    opacity: 0;
  }
}
@-ms-keyframes puff {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  15% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale3d(1.25, 1.25, 0);
    -moz-transform: scale3d(1.25, 1.25, 0);
    -ms-transform: scale3d(1.25, 1.25, 0);
    -o-transform: scale3d(1.25, 1.25, 0);
    transform: scale3d(1.25, 1.25, 0);
    opacity: 0;
  }
}
@keyframes puff {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  15% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale3d(1.25, 1.25, 0);
    -moz-transform: scale3d(1.25, 1.25, 0);
    -ms-transform: scale3d(1.25, 1.25, 0);
    -o-transform: scale3d(1.25, 1.25, 0);
    transform: scale3d(1.25, 1.25, 0);
    opacity: 0;
  }
}
@-moz-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
    -moz-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    -o-transform: translate(0, 200px);
    transform: translate(0, 200px);
  }

  80% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
    -moz-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    -o-transform: translate(0, 200px);
    transform: translate(0, 200px);
  }

  80% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
    -moz-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    -o-transform: translate(0, 200px);
    transform: translate(0, 200px);
  }

  80% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-ms-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
    -moz-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    -o-transform: translate(0, 200px);
    transform: translate(0, 200px);
  }

  80% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
    -moz-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    -o-transform: translate(0, 200px);
    transform: translate(0, 200px);
  }

  80% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes card-drop {
  0% {
    -webkit-transform: rotateZ(60deg);
    -moz-transform: rotateZ(60deg);
    -ms-transform: rotateZ(60deg);
    -o-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: rotateZ(-40deg);
    -moz-transform: rotateZ(-40deg);
    -ms-transform: rotateZ(-40deg);
    -o-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
    opacity: 1;
  }

  70% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }

  95% {
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
    -o-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes card-drop {
  0% {
    -webkit-transform: rotateZ(60deg);
    -moz-transform: rotateZ(60deg);
    -ms-transform: rotateZ(60deg);
    -o-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: rotateZ(-40deg);
    -moz-transform: rotateZ(-40deg);
    -ms-transform: rotateZ(-40deg);
    -o-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
    opacity: 1;
  }

  70% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }

  95% {
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
    -o-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-o-keyframes card-drop {
  0% {
    -webkit-transform: rotateZ(60deg);
    -moz-transform: rotateZ(60deg);
    -ms-transform: rotateZ(60deg);
    -o-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: rotateZ(-40deg);
    -moz-transform: rotateZ(-40deg);
    -ms-transform: rotateZ(-40deg);
    -o-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
    opacity: 1;
  }

  70% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }

  95% {
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
    -o-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-ms-keyframes card-drop {
  0% {
    -webkit-transform: rotateZ(60deg);
    -moz-transform: rotateZ(60deg);
    -ms-transform: rotateZ(60deg);
    -o-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: rotateZ(-40deg);
    -moz-transform: rotateZ(-40deg);
    -ms-transform: rotateZ(-40deg);
    -o-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
    opacity: 1;
  }

  70% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }

  95% {
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
    -o-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@keyframes card-drop {
  0% {
    -webkit-transform: rotateZ(60deg);
    -moz-transform: rotateZ(60deg);
    -ms-transform: rotateZ(60deg);
    -o-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: rotateZ(-40deg);
    -moz-transform: rotateZ(-40deg);
    -ms-transform: rotateZ(-40deg);
    -o-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
    opacity: 1;
  }

  70% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }

  95% {
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
    -o-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}
@-ms-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}
@-moz-keyframes fall-over {
  0% {
    -webkit-transform: rotateX(5deg) translate(0, 0px);
    -moz-transform: rotateX(5deg) translate(0, 0px);
    -ms-transform: rotateX(5deg) translate(0, 0px);
    -o-transform: rotateX(5deg) translate(0, 0px);
    transform: rotateX(5deg) translate(0, 0px);
    height: 50px;
  }

  70% {
    -webkit-transform: rotateX(85deg) translate(0, 750px);
    -moz-transform: rotateX(85deg) translate(0, 750px);
    -ms-transform: rotateX(85deg) translate(0, 750px);
    -o-transform: rotateX(85deg) translate(0, 750px);
    transform: rotateX(85deg) translate(0, 750px);
    height: 50px;
  }

  100% {
    -webkit-transform: rotateX(85deg) translate(0, 0px);
    -moz-transform: rotateX(85deg) translate(0, 0px);
    -ms-transform: rotateX(85deg) translate(0, 0px);
    -o-transform: rotateX(85deg) translate(0, 0px);
    transform: rotateX(85deg) translate(0, 0px);
    height: 0px;
  }
}
@-webkit-keyframes fall-over {
  0% {
    -webkit-transform: rotateX(5deg) translate(0, 0px);
    -moz-transform: rotateX(5deg) translate(0, 0px);
    -ms-transform: rotateX(5deg) translate(0, 0px);
    -o-transform: rotateX(5deg) translate(0, 0px);
    transform: rotateX(5deg) translate(0, 0px);
    height: 50px;
  }

  70% {
    -webkit-transform: rotateX(85deg) translate(0, 750px);
    -moz-transform: rotateX(85deg) translate(0, 750px);
    -ms-transform: rotateX(85deg) translate(0, 750px);
    -o-transform: rotateX(85deg) translate(0, 750px);
    transform: rotateX(85deg) translate(0, 750px);
    height: 50px;
  }

  100% {
    -webkit-transform: rotateX(85deg) translate(0, 0px);
    -moz-transform: rotateX(85deg) translate(0, 0px);
    -ms-transform: rotateX(85deg) translate(0, 0px);
    -o-transform: rotateX(85deg) translate(0, 0px);
    transform: rotateX(85deg) translate(0, 0px);
    height: 0px;
  }
}
@-o-keyframes fall-over {
  0% {
    -webkit-transform: rotateX(5deg) translate(0, 0px);
    -moz-transform: rotateX(5deg) translate(0, 0px);
    -ms-transform: rotateX(5deg) translate(0, 0px);
    -o-transform: rotateX(5deg) translate(0, 0px);
    transform: rotateX(5deg) translate(0, 0px);
    height: 50px;
  }

  70% {
    -webkit-transform: rotateX(85deg) translate(0, 750px);
    -moz-transform: rotateX(85deg) translate(0, 750px);
    -ms-transform: rotateX(85deg) translate(0, 750px);
    -o-transform: rotateX(85deg) translate(0, 750px);
    transform: rotateX(85deg) translate(0, 750px);
    height: 50px;
  }

  100% {
    -webkit-transform: rotateX(85deg) translate(0, 0px);
    -moz-transform: rotateX(85deg) translate(0, 0px);
    -ms-transform: rotateX(85deg) translate(0, 0px);
    -o-transform: rotateX(85deg) translate(0, 0px);
    transform: rotateX(85deg) translate(0, 0px);
    height: 0px;
  }
}
@-ms-keyframes fall-over {
  0% {
    -webkit-transform: rotateX(5deg) translate(0, 0px);
    -moz-transform: rotateX(5deg) translate(0, 0px);
    -ms-transform: rotateX(5deg) translate(0, 0px);
    -o-transform: rotateX(5deg) translate(0, 0px);
    transform: rotateX(5deg) translate(0, 0px);
    height: 50px;
  }

  70% {
    -webkit-transform: rotateX(85deg) translate(0, 750px);
    -moz-transform: rotateX(85deg) translate(0, 750px);
    -ms-transform: rotateX(85deg) translate(0, 750px);
    -o-transform: rotateX(85deg) translate(0, 750px);
    transform: rotateX(85deg) translate(0, 750px);
    height: 50px;
  }

  100% {
    -webkit-transform: rotateX(85deg) translate(0, 0px);
    -moz-transform: rotateX(85deg) translate(0, 0px);
    -ms-transform: rotateX(85deg) translate(0, 0px);
    -o-transform: rotateX(85deg) translate(0, 0px);
    transform: rotateX(85deg) translate(0, 0px);
    height: 0px;
  }
}
@keyframes fall-over {
  0% {
    -webkit-transform: rotateX(5deg) translate(0, 0px);
    -moz-transform: rotateX(5deg) translate(0, 0px);
    -ms-transform: rotateX(5deg) translate(0, 0px);
    -o-transform: rotateX(5deg) translate(0, 0px);
    transform: rotateX(5deg) translate(0, 0px);
    height: 50px;
  }

  70% {
    -webkit-transform: rotateX(85deg) translate(0, 750px);
    -moz-transform: rotateX(85deg) translate(0, 750px);
    -ms-transform: rotateX(85deg) translate(0, 750px);
    -o-transform: rotateX(85deg) translate(0, 750px);
    transform: rotateX(85deg) translate(0, 750px);
    height: 50px;
  }

  100% {
    -webkit-transform: rotateX(85deg) translate(0, 0px);
    -moz-transform: rotateX(85deg) translate(0, 0px);
    -ms-transform: rotateX(85deg) translate(0, 0px);
    -o-transform: rotateX(85deg) translate(0, 0px);
    transform: rotateX(85deg) translate(0, 0px);
    height: 0px;
  }
}
.pop {
  -webkit-animation: pop 250ms ease-out;
  -moz-animation: pop 250ms ease-out;
  -ms-animation: pop 250ms ease-out;
  -o-animation: pop 250ms ease-out;
  animation: pop 250ms ease-out;
  -webkit-transform-style: preserve-3d;
}
.all_transitions {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-style: preserve-3d;
}
button,
.button {
  color: #aaa;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 15px;
  margin: 5px;
  background: -moz-linear-gradient(top, #555, #2e2e2e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555), color-stop(100%, #2e2e2e));
  background: -webkit-linear-gradient(top, #555 0%, #2e2e2e 100%);
  background: -o-linear-gradient(top, #555 0%, #2e2e2e 100%);
  background: -ms-linear-gradient(top, #555 0%, #2e2e2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555', endColorstr='#2e2e2e',GradientType=0 );
  background: linear-gradient(top, #555 0%, #555 100%);
  background: /* W3C */;
  border: 1px solid #111;
  position: relative;
}
button:after,
.button:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-top: 1px solid #999;
}
button:hover,
.button:hover,
button.active,
.button.active {
  background: #222;
  color: #aaa;
}
button.active,
.button.active {
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.50) inset;
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.50) inset;
  -ms-box-shadow: 0 2px 5px rgba(0,0,0,0.50) inset;
  -o-box-shadow: 0 2px 5px rgba(0,0,0,0.50) inset;
  box-shadow: 0 2px 5px rgba(0,0,0,0.50) inset;
  color: #eee;
  border: 1px solid #333;
}
button.active:after,
.button.active:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #555;
}
button.active:hover,
.button.active:hover {
  color: #ff0;
}
#board {
  width: 387px;
  height: 707px;
  background: rgba(255,255,255,0.60);
  border: 1px solid #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 30px auto;
  position: relative;
}
#board #game_over {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 10%;
  right: 10%;
  background: rgba(0,0,0,0.05);
  color: #f00;
  font-size: 30px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding-top: 50px;
}
#board .block {
  -webkit-transform-style: preserve-3d;
  width: 30px;
  height: 30px;
  margin: 1px;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#board .block.on {
  background: #111;
  -webkit-animation: pop 250ms ease-out;
  -moz-animation: pop 250ms ease-out;
  -ms-animation: pop 250ms ease-out;
  -o-animation: pop 250ms ease-out;
  animation: pop 250ms ease-out;
  border: 1px solid #333;
  border: 1px solid #111;
  position: relative;
  -webkit-box-shadow: 0 0 20px -5px #000;
  -moz-box-shadow: 0 0 20px -5px #000;
  -ms-box-shadow: 0 0 20px -5px #000;
  -o-box-shadow: 0 0 20px -5px #000;
  box-shadow: 0 0 20px -5px #000;
}
#board .block.on:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid #555;
}
#board .block.on:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-top: 1px solid #999;
}
#board .block.on.red {
  background: #811;
}
#board .block.on.green {
  background: #181;
}
#board .block.on.blue {
  background: #118;
}
#board .block.on.purple {
  background: #818;
}
#board .block.on.orange {
  background: #f28d28;
}
#board .block.on.yellow {
  background: #f1f218;
}
